 /**
 * CSS style for PDF Doc Manager
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 * @link       http://www.legoeso.com
 * @since      1.0.0
 * 
 * @author     Torvis Wesley
 */
 .pdm_docs_buttons_container {
	display:flex;
	justify-content: space-around;
    flex-direction: column;
}
.convertion_result_button {
	font-size: 1.1rem;
	padding:1rem;
	
	border-radius:4px;
	background-color:#6B6B6B;
	border: 1px solid #484848;
}


.pdm_docs_preview_container {
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.pdm_docs_thumbnail_result {
	max-width: 100px;
    max-height: 100px;
    border: 1px solid;
}

.legoeso-dt-container{
	background: #f5f5f5; 
	border-radius: 4px; 
	padding: 1em; 
	border: 1px solid #a3a3a3;
	font-size: 0.8rem;
}
.legoeso-row-class{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(250, 0, 50);
}

.legoeso_header {
	color:rgb(27, 24, 24);
}

.legoeso_ulist {
	list-style: none;
}
.legoeso-table-category {
	padding-bottom: 5px;
	vertical-align: middle;
	
	background-color: #f5f5f5;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}